.header_container{
   border: 1px solid black;
   text-align: center;
   background-color: rgba(0, 0, 0, .1);
}

.header_container p {
  font-size: 30px;
}

/* contacts */

.contact{
  display: flex;
  justify-content: space-around;
}

.contact > p {
  font-size: 20px;
}

.contact .number::before {
  content: url(/public/smartphone-call.png);
}

.contact .email::before {
  content: url(/public/gmail.png);
  margin-right: 4px;
}

.contact .adress::before {
  content: url(/public/home.png);
  margin-right: 4px;
}

/* Body */

.body_container {
  text-align: center;
  margin-top: 1rem;
}

.knowledge {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  padding-top: 1rem;
}

ul {
  padding: 0;
  list-style: none;
}

ul li {
  margin: 0.3rem 0;
}

.education, ul{
  font-size: 25px;

}

.education {
  border: 1px solid rgba(210, 215, 211, 1.0);
  height: 90%;
  background-color: rgba(210, 215, 211, 1.0);
  
}

.list_of_skills {
  border: 1px solid rgba(210, 215, 211, 1.0);
  height: 90%;
  background-color: rgba(210, 215, 211, 1.0);
}

.profile {
  border: 1px solid yellow;
  background-color: yellow;
  margin: 0 40%;
  border-radius: 3px;
  font-size: 30px;
}

.engaging_text {
  font-size: 25px;
  border: 1px solid rgba(210, 215, 211, 1.0);
  background-color: rgba(210, 215, 211, 1.0);
  margin: 1rem;
  border-radius: 3px;
  padding: 0.2rem;
  word-spacing: 1px;
  line-height: 1.4;
}

.education_text, .skills_text {
  border: 1px solid yellow;
  width: 35rem;
  background-color: yellow;
  border-radius: 3px;
  font-size: 30px;
}

@media screen and (max-width: 1200px) {
  .education_text, .skills_text {
    border: 1px solid yellow;
    width: 15rem;
    border-radius: 3px;
    
  }
}

/* Footer */

.footer_container {
  margin-top: 2rem;
  text-align: center;
}

.footer_text {
  border: 1px solid yellow;
  margin: 1rem 20%;
  background-color: yellow;
  border-radius: 3px;
  font-size: 30px;
}

.description {
  margin: 2rem 0;
  font-size: 25px;
}

.description_text {
  border: 1px solid rgba(210, 215, 211, 1.0);
  background-color: rgba(210, 215, 211, 1.0);
  margin: 1rem;
  border-radius: 3px;
  font-size: 25px;
}

/* Hobbies */

.hobby_container {
  text-align: center;
}

.hobby_text {
  border: 1px solid yellow;
  margin: 3rem 20%;
  background-color: yellow;
  border-radius: 3px;
  font-size: 30px;
}

.hobby_list {
  display: flex;
  justify-content: space-around;
  border: 1px solid rgba(210, 215, 211, 1.0);
  background-color: rgba(210, 215, 211, 1.0);
  margin: 1rem;
  border-radius: 3px;
  font-size: 25px;
}

.chess::before {
  content: url('/public/chess.png');
  margin-right: 4px;
}

.programming::before {
  content: url('/public/binary-code.png');
  margin-right: 4px;
}

.physics::before {
  content: url('/public/atom(1).png');
  margin-right: 4px;
}

.math::before {
  content: url('/public/pi-mathematical-constant-symbol.png');
  margin-right: 4px;
}

.literature::before {
  content: url('/public/books.png');
  margin-right: 4px;
}